@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.center-absolute-top-2 {
    top: 2rem;
    left: -125%;
}

.modal-mw-desktop {
    max-width: 31rem;
}